body {
	padding: 0px;
	margin: 0px;
	background: #000;
	color: #fff;
	font-family: 'Play', sans-serif;
}

main {
	max-width: 900px;
	margin: 0 auto;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 50px 0px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

h2 a {
	color: #fff;
}